@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
  position: fixed; /* Agrega posición fija */
  top: 0; /* Alinea el nav en la parte superior */
  left: 0; /* Alinea el nav a la izquierda */
  width: 100%; /* Ancho completo */
  background-color: #fff; /* Fondo del nav */
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  height: 60px;
  width: auto;
  margin-right: 10px;
}

nav .logo h1 {
  font-size: 1.2rem;
  background: linear-gradient(to right, #6bb7d8 0%, #5dade2 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}

nav ul li a:hover {
  color: #5dade2;
  transition: 0.6s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
}

/* Agrega esta regla para ocultar el ícono cuando el menú está activo */
.active .hamburger {
  display: none;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: #1f1f1f;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

.menubar {
  position: fixed;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  padding: 20% 0;
  background: rgba(255, 255, 255);
  transition: all 0.5s ease-in;
  z-index: 2;
}
.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}
.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
}

.menubar ul li a:hover {
  color: #5dade2;
  transition: 0.6s ease;
}
@media screen and (max-width: 790px) {
  .hamburger {
    display: block;
  }
  nav ul {
    display: none;
  }
}

.hero-section {
  height: 100vh;
  background-image: url("../img/hospital.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.hero-section .content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: #fff;
}
.hero-section .content h2 {
  font-size: 3rem;
  max-width: 600px;
  line-height: 70px;
}
.hero-section .content p {
  font-weight: 300;
  max-width: 600px;
  margin-top: 15px;
}
.hero-section .content button {
  background: skyblue;
  padding: 12px 30px;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  margin-top: 38px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}
.hero-section .content button:hover {
  color: black;
  background: #5dade2;
}

/*Footer - pie de pagina*/

.container-footer {
  width: 100%;
  padding: 40px 0;
  background: #ebf5fb;
}

.container-footer footer {
  max-width: 1200px;
  margin: auto;
}

.container-footer footer .logo-footer {
  text-align: center;
}

.container-footer footer .logo-footer img {
  width: 100px;
}
.container-footer footer .descripcion {
  text-align: center;
}

.container-footer footer .redes-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer {
  font-size: 20px;
  margin: 20px;
  background: #6bb7d8;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: white;
  text-decoration: none;
}

footer .redes-footer .fa-facebook-f:hover {
  background: #5dade2;
  color: #fff;
}

footer .redes-footer .fa-envelope:hover {
  background: #5dade2;
  color: #fff;
}

footer .redes-footer .fa-instagram:hover {
  background: #5dade2;
  color: #fff;
}

.container-footer footer hr {
  margin-top: 20px;
  border: none;
  height: 2px;
  background: #6bb7d8;
}

.container-footer h4 {
  text-align: center;
  margin-top: 30px;
  color: #6bb7d8;
  font-weight: 400;
}

/* Nuevo Paciente */
#root {
  width: 100%;
  height: 100%;
  background: #6bb7d8;
}
.container {
  position: relative;
  flex-direction: column;
  top: 14vh;
  height: 100%;
  width: 100%;
}
.form-container {
  margin: 5rem;
  padding: 20px;
  margin: 0 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.form-new-client {
  background-color: red;
}
.container-form h6 {
  font-weight: normal;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

/* .form__input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  border-radius: 50%;
  padding: 4px;
} */

/* end Nuevo Paciente */

/* Formato Historias Clínicas */
.format-history {
  margin: 0rem 2rem;
}
.format-all {
  width: 80%;
}

/* end Formato Historias Clínicas */

/* CSS Atomic */
.hidden {
  display: none;
}
.grid {
  display: grid;
}
.block {
  display: block;
}
.p-4 {
  padding: 1rem;
}
.p-8 {
  padding: 2rem;
}
.pr-8 {
  padding-right: 2rem;
}
.w-xl {
  max-width: 450px;
}
.col-span-1 {
  grid-column: span 1 / span 1;
}
.col-span-10 {
  grid-column: span 10 / span 10;
}
.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-cols-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-8 {
  margin-top: 2rem;
}
.mr-4 {
  margin-right: 1rem;
}
.mr-8 {
  margin-right: 2rem;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.items-start {
  align-items: start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: end;
}

.border {
  border-radius: 10px;
}
.h-5 {
  height: 1.25rem;
}
.h-8 {
  height: 2rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-x-4 {
  column-gap: 1rem;
}
.gap-y-4 {
  row-gap: 1rem;
}
.gap-8 {
  gap: 2rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.border-2 {
  border-width: 2px;
}
.border-blue-600 {
  border-color: rgb(37 99 235);
}
.border-solid {
  border-style: solid;
}
/* end CSS Atomic */

/* depuracion */

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

textarea {
  width: 100% !important;
  height: 200px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
